body {
  padding: 0;
  margin: 0;
  background: #000000;
  color: #ffffff;
}

#app {
  animation: show 2s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boardGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  width: 33%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #ffffff;

  font-size: 30px;
  font-weight: 900;
}

.cursorPointer {
  cursor: pointer;
}
