body {
  padding: 0;
  margin: 0;
  background: #000000;
  color: #ffffff;
  overflow: hidden;
}

#app {
  animation: show 1s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boardGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  max-width: 500px;
  margin: 100px auto 0 auto;
}

.boardGame__field {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  width: 33%;
  height: 100px;
  box-sizing: border-box;

  font-size: 30px;
  font-weight: 900;
}

.boardGame__field--cursorPointer {
  cursor: pointer;
}

.boardGame__field--winColor {
  color: #009900;
}
